*{
	margin:0;
	padding:0;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#ccc;
}
a{
	text-decoration: none;
	cursor:pointer;		/*光标改变*/
}
ul li{
	list-style: none;
}
header{
	min-width: 1280px;
	height: 58px;
	width: 100%;
	background-color: #fff;
}
.newWorld{
	float: left;
	margin:12px 0px 12px 60px;
	width: 104px;
}
.newWorld img{
	display: block;
	float: left;
}
.newWorld span{
	float: left;
	font-size: 21px;
	color:#393a3a;
	margin-left: 10px;
}
.headerR{
	float: right;
	width: 540px;
	margin-right: 68px;
}
nav{
	float: left;
	padding-top:18px; /*为什么不能用margin*/
	padding-bottom: 21px;
}
nav a{
	margin-right: 44px;
	padding-bottom: 15px;
	font-weight: bold;
}
nav a:hover{
	color: #e74f4d;
	border-bottom: 5px solid #e74f4d;
}
.login{
	float: left;
	margin-top: 18px;
}
.loginTxt{
	color: #e74f4d;
	font-weight: bold;
	cursor:pointer;
}
.one{
	background: url("../img/promo.jpg") no-repeat;
	position: relative;
	width: 100%;
	min-width: 1280px;		/*不指定最小宽度的话absolute会固定*/
	height: 688px;
	background-size: 100% auto;	/*Firefox浏览器下控制背景图片大小。*/
	opacity: 0.95;
}
.one .txt_1{
	position: absolute;
	left:116px;
	top:228px;
	font-size: 60px;
	color: #fff;
}
.one .txt_2{
	position: absolute;
	left:116px;
	top:308px;
	font-size: 21px;
	color: #fff;
}
.startBtn{
	position: absolute;
	left: 116px;
	top: 424px;
	height: 66px;
	width: 333px;
	background-color: #e74f4d;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 66px;
	cursor: pointer;
}
.two{
	height: 250px;
	width: 100%;
	min-width: 1280px;
	background-color: #fff;
}
.note{
	float: left;
	width: 25%;
	height: 250px;
}
.notePhoto{
	margin:46px 136px 46px 148px;
}
.note p{
	font-weight: bold;
	margin-left: 50px;
	margin-right: 80px;
	text-align: center;
}
.wrap{
	height: 54px;	/*宽度自动继承父元素宽度？*/
	border-right: 2px solid #ccc;
}
.three{
	position: relative;
	height: 360px;
	width: 100%;
	min-width: 1280px;
	background-color: #ededed;
}
.three img{
	position: absolute;
	top:88px;
	left: 50%; 
	margin-left: -45px;
}
.three p{
	position: absolute;
	top:228px;
	left: 50%;
	margin-left: -419px;
	font-size: 54px;
}
.four{
	position: relative;
	width: 100%;
	min-width: 1280px;
	height: 342px;
	background: url("../img/map.jpg") no-repeat;
	background-size: 100% auto;
}
.four .txt_1{
	position: absolute;
	color: #fff;
	font-size: 21px;
	top:52px;
	left: 50%;
	margin-left: -95px;
}
.underline{
	position: absolute;
	width: 34px;
	height: 2px;
	background-color: #fff;
	top:82px;
	left: 50%;
	margin-left: -17px;
}
.four .txt_2{
	position: absolute;
	color: #fff;
	font-size: 12px;
	top:104px;
	left: 50%;
	margin-left: -168px;
}
.lookFor{
	position: absolute;
	left: 50%;
	top:172px;
	margin-left: -515px;
	width: 1058px;
	height: 36px;
}
.lookFor div{
	float: left;
	height: 36px;
	width: 236px;
	margin-right: 36px;
	font-size: 12px;
	border: 1px solid #bf4f49;
	background: url("../img/select.jpg") no-repeat 98% #fff;
}
.des{
	display: block;
	text-indent: 5%;
	line-height: 36px;
}
.select{
	position: relative;
	line-height: 26px;
	text-indent: 15%;
	border: 1px solid #bf4f49;
	background-color: #e3e3e4;
	z-index: 10;	/*z-indexz只应用于定位元素*/
}
.selectItems:hover{
	cursor: pointer;
	background: url("../img/tick.png") no-repeat 5% #bf4f49;
}
.search{
	float:left;
	height: 36px;
	width: 236px;
	appearance:none;	/*清除下拉列表select的默认样式*/
	-moz-appearence:none;	/*-moz:火狐浏览器私有属性*/
	-webkit-appearance:none;	/*-webkit:谷歌、safari浏览器私有属性*/
	background-color: #bf4f49;
	color: #fff;
	border:0 solid;
}
.search:hover{
	cursor:pointer;
}
.five{
	position: relative;
	width: 100%;
	height: 604px;
	min-width: 1280px;
	background-color: #f7f7f7;
}
div[class^="package"]{
	position: absolute;
	top:100px;
	height: 390px;
	width: 220px;
	margin-left: -110px;
	background-color: #f7f7f7;
}
.five div[class$="One"]{
	left: 20%;
	text-align: center;
}
.five div[class$="Two"]{
	left: 40%;
	text-align: center;
}
.five div[class$="Three"]{
	left: 60%;
	text-align: center;
}
.five div[class$="Four"]{
	left: 80%;
	text-align: center;
}
div[class^="smallWrap"]{
	height: 334px;
	width: 220px;
	background-color: #fff;
}
.five div[class$="1"]{
	background: url("../img/pic_1.jpg") center no-repeat #fff;
}
.five div[class$="2"]{
	background: url("../img/pic_2.jpg") center no-repeat #fff;
}
.five div[class$="3"]{
	background: url("../img/pic_3.jpg") center no-repeat #fff;
}
.five div[class$="4"]{
	background: url("../img/pic_4.jpg") center no-repeat #fff;
}
.commonTxt{
	font-weight: bold;
	color: #636464;
	padding-top: 10px;
	padding-bottom: 10px;
}
.specialTxt{
	font-size: 20px;
	font-weight: bold;
	color: #636464;
	letter-spacing: 20px;
}
.six{
	height: 567px;
	width: 100%;
	min-width: 1280px;
	background-color: #fff;
}
.sixL{
	float: left;
	position: relative;
	width: 70%;
	height: 567px;
	background: url("../img/men.jpg");
	background-size: 100% auto;
}
.sixL p[class^="txt"]{
	color: #fff;
	position: absolute;
	left: 50%;
}
.sixL p[class$="1"]{
	font-size: 50px;
	top:132px;
	margin-left:-75px; 
}
.sixL p[class$="2"]{
	font-size: 158px;
	top:190px;
	margin-left: -189px;
}
.sixL p[class$="3"]{
	font-size: 22px;
	top:370px;
	margin-left: -73px;
}
.sixL p[class$="4"]{
	font-size: 22px;
	top:412px;
	margin-left: -57px;
}
.triangle{
	position: absolute;
	display:inline-block;
	border-top:14px solid transparent;
	border-right:28px solid #fff;
	border-bottom: 14px solid transparent;
	right: 0;
	top:50%;
	
}
.sixR{
	float: left;
	position: relative;
	width: 30%;
	height: 567px;
}
.txt_5{
	font-size: 18px;
	font-weight: bold;
	color: #323333;
	letter-spacing: 3px;
}
.txt_5 span{
	font-size: 18px;
	color: #ea6563;
}
.sixR p{
	line-height: 38px;
}
.more{
	height: 34px;
	width: 104px;
	border:2px solid #e74f4d;
	color: #e74f4d;
	text-align: center;
	line-height: 34px;
}
.more:hover{
	cursor: pointer;
	color: #fff;
	background-color:#e74f4d; 
}