*{
	margin:0;
	padding: 0;
	font-family: "微软雅黑";
}
header{
	height: 56px;
	width: 100%;
	min-width: 1280px;
	background-color:#2189bf;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.clearfix::before, .clearfix::after{
	display: block;
	content:" ";
}
.clearfix::after{
	clear:both;
	overflow:hidden;
	font-size: 0px;
	line-height: 0px;
}
.inner{
	width: 1280px;
	height: 56px;
	margin:0 auto;
}
.logo{
	float: left;
	height: 36px;
	width:36px;
	padding-top: 10px; 
	padding-left: 50px;
}
.searchAndLogin{
	float:right;
}	
.searchAndLogin input{
	width: 278px;
	height: 28px;
	background:url("../img/search.png") 18px no-repeat;
	background-color: #fff;
	border-radius: 14px;
	padding-left: 35px;
	margin:14px 18px 14px 0px;
	border: none;
}
.searchAndLogin a{
	background: url("../img/login.png")  0px 3px no-repeat;
	padding-left: 18px;
	color:#fff;
}
section{
	width: 1280px;
	margin:0 auto;
}
.left{
	float: left;
	width: 260px;
	background-color:#2a2e3d;
}
.info{
	height: 148px;
	width: 260px;
}
.infoHead{
	position: relative;
	height: 96px;
	width: 260px;
}
.photo{
	position: absolute;
	left:46px;
	top:50%;
	margin-top: -29px;
	height: 58px;
	width: 58px;
	border-radius: 50%;
	border:1px solid #b9babe;
}
.photo::after{
	display: block;
	position: absolute;
	height: 46px;
	width: 46px;
	background-color: #b9babe;
	border-radius: 50%;
	content: " ";
	top:50%;
	left: 50%;
	margin-left: -23px;
	margin-top: -23px;
}
.photo + .name{
	position: absolute;
	left:120px;
	top:50%;
	margin-top: -11px;
	color:#fff;
	font-size: 16px;
}
.info > ul{
	color: #6e8095;
}
.info > ul li{
	float: left;
	width: 128px;
	text-align: center;
}
.info > ul li:first-child{
	border-right: 3px solid #313545;
}
.info > ul li > p{
	font-size: 16px;
}
.info > ul li > span{
	font-size: 12px;
}
.profile{
	font-size: 12px;
}
.profile > li:nth-of-type(1){  /*特殊值： 0 0 2 1*/
	background-color: #383d4e;
	color: #fff;
	padding-top:12px;
	padding-left: 44px;
	padding-bottom: 14px;
}
.icon{
	float: left;
	height: 12px;
	width: 12px;
	margin-right: 12px;
}
i[class^="more"]{
	float: left;
	height: 12px;
	width: 7px;
	margin-right: 6px;
	background:url("../img/moreB.png") no-repeat;
}
i[class^="file"]{
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	background: url("../img/fileB.png") no-repeat;
}
.files > li:nth-of-type(1){
	color: #6e8095;
	background-color: #383d4e;
	margin-top:12px;
	margin-left: 44px;
	margin-bottom: 14px;
}
.files > li:nth-of-type(2){
	background-color: #383d4e;
	color: #fff;
	margin-top:12px;
	margin-left: 44px;
	margin-bottom: 14px;
}
i[class="more"]{
	background: url("../img/more.png") no-repeat;
	height: 8px;
	width: 11px;
}
i[class="file"]{
	background: url("../img/file.png") no-repeat;
}
.words li{
	margin-top:12px;
	margin-left: 44px;
	margin-bottom: 14px;
}
i[class^="word"]{
	background: url("../img/word.png") no-repeat;
	height: 11px;
	width: 12px;
	float: left;
}
i[class="wordB"]{
	background: url("../img/wordB.png") no-repeat;
}
.words li:nth-of-type(2){
	color: #6e8095;
}
.files > li:nth-of-type(3){
	background-color: #383d4e;
	color: #fff;
	margin-top:12px;
	margin-left: 44px;
}
.profile > li + li{  /*特殊值： 0 0 1 2*/
	margin-top: 34px;
	color: #6e8096;
	padding-left: 44px;
}
.form{
	background: url("../img/form.png") no-repeat;
}
.star{
	background: url("../img/star.png") no-repeat;
}
.share{
	background: url("../img/share.png") no-repeat;
}
.id{
	background: url("../img/id.png") no-repeat;
}
.right{
	float: left;
	width:1020px;
	height: 1210px;
	background-color: #ededec;
}
.position{
	height:30px;
	width: 1020px;
	background-color: #fff;
	padding-left: 30px;
	color: #cfcfcf;
	font-size: 12px;
	line-height: 30px;
}
.position span{
	cursor: pointer;
}
.position > span:nth-child(1){
	padding-right: 12px;
}
.position > span + span{
	padding-left: 6px;
	padding-right: 6px;
}
.position span:last-child{
	color: #82a8cb;
}
/*.main{
	width:890px;
	background: #
}*/
.searchItem{
	font-size: 12px;
	width: 890px;
	height: 88px;
	background-color: #fff;
	margin:18px auto 12px;
}
.selectBox{
	cursor: pointer;
	font-size: inherit;
	-moz-appearance:none;
	-webkit-apearance:none;
	height: 24px;
	border:1px solid #cbcbcb;
	padding-left: 4px;
	margin-bottom: 10px;
	background: url("../img/select.png") no-repeat 90%;
}
.searchL{
	float: left;
	width: 120px;
	height: 74px;
	margin-top: 14px;
	margin-left: 30px;
}
.searchL > span{
	color: #cfcfcf;
	margin-right: 12px;
}
.searchL .s1{
	width: 68px;
	background: url("../img/selectB.png") no-repeat 90%;
}
.searchM{
	float: left;
	width: 512px;
	height: 74px;
	margin-top: 14px;
	margin-left: 38px;
}
.deal{
	width: 158px;
	height: 74px;
	float: left;
}
.deal span{
	color: #cfcfcf;
	margin-right: 4px;
}
.deal .s2{
	width: 122px;
}
.searchM i{
	cursor: pointer;
	background: url("../img/change.png");
	height: 38px;
	width: 28px;
	float: left;
	margin-top: 10px;
}
.time{
	float: left;
	height: 74px;
	width: 292px;
	margin-left: 26px;
}
.time span{
	color: #cfcfcf;
	margin-right: 4px;
}
.time .s3{
	width: 118px;
	background-image: none;
	margin-right: 14px;
}
.time .s4{
	width: 70px;
}
.time > select:nth-of-type(3){
	margin-right: 14px;
}
.time .s5{
	width: 120px;
}
.searchR{
	float: left;
}
.searchBtn{
	cursor: pointer;
	width: 50px;
	height: 26px;
	margin-top: 28px;
	background-color: #388ac1;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	border:none;
	border-radius: 2px;
}
.history{
	margin:0 auto;
	width: 890px;
	height: 62px;
}
div[class^="turn"],.historyBox,.historySearch{
	cursor: pointer;
	float: left;
	height: 62px;
	margin-right: 4px;
	background-color: #fff;
}
div[class^="turn"]{
	position: relative;
	width: 30px;
}
div[class^="turn"]::after{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -6px;
	margin-left: -6px;
	content: " ";
	height: 12px;
	width: 12px;
	border:2px solid #c5c4c4;
	-moz-transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
}
.turnL::after{
	border-top-color: transparent !important; /*利用重要声明来提高特殊性值*/
	border-right-color: transparent !important;
	margin-left: -4px !important;
}
.turnR::after{
	border-bottom-color: transparent !important; 
	border-left-color: transparent !important;
	margin-left: -10px !important;
}
.historyBox{
	box-sizing: border-box;
	width: 110px;
}
.historyBox:hover{
	border-top: 4px solid #4389c9;
}
.historyBox time{
	font-size: 12px;
	text-align: center;
}
.historySearch{
	width: 134px;
}
.historySearch i{
	float: left;
	margin-left: 18px;
	margin-top: 16px;
	margin-right: 12px;
	background: url("../img/calendar.png") no-repeat;
	height: 32px;
	width: 32px;
}
.historySearch span{
	color: #a5a5a5;
	line-height: 62px;
	font-size: 12px;
	font-weight: bold;
}