*{
	margin:0;
	padding: 0;
}
body{
	background-color:#5D5D5D;
	height: 100%;
	width: 100%;
}
#wrap{
	margin:0 auto;
	height: 1386px;
	width: 980px;
	background-color: #FFF;
}
#main{
	margin: 0 44px;
	height: 1386px;
	width: 892px;
}
header{
	height: 61px;
	border-bottom: 2px solid #938e8c;
}
.headerL{
	float: left;
	width: 110px;
	height: 61px;
	background-color: #D55D5C;		
}
.headerR{
	height: 61px;
	float: right;
	font-family: "黑体";
	font-size: 12px;
}
.txt{
	margin-top: 45px;
	color: #ffffff;
	font-family: "黑体";
	font-size: 12px;
}
.one{
	margin:40px 0;
	position: relative;
}
.oneL img{
	height: 301px;
	width: 641px;
}
.maskL,.maskR{
	position: absolute;		
	height: 301px;
	width: 191px;
	opacity:0.2;		
	/*display: inline;*/
}
.maskL{
	left: 0;
	background-color: green;
}
.maskR{
	left:450px;
	background-color: red;
}
.oneR{
	float: right;
	margin: 0 24px;
	border-top: 2px solid #cc8091;
	width: 203px;
	height: 301px;
}
.oneR p{
	font-family: "微软雅黑";
	color:#000000;
}
.oneR p:first-letter{
	font-size: 24px;
}
.oneR i{
	font-size: 12px;
	color: #676767;
	font-family: "黑体";
	line-height: 10px;
}
.oneR span{
	font-size: 116px;
	color:#75b86b;
	font-family: "微软雅黑";
	font-style: italic;
	line-height: 116px;
}
.num{
	position: absolute;
	bottom:-10px;
	font-size:55px;
	font-family: "微软雅黑";
	color: #cc8091;
}
.wordTop{
	position: absolute;
	right:110px;
	bottom:12px;
	font-size: 21px;
	font-family: "微软雅黑";
	color: #cc8091;
}
.wordBottom{
	position: absolute;
	right:70px;
	bottom:0;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #cc8091;
}
.two div{
	float: left;
	margin-right: 30px;
}
.what{
	width: 220px;
}
.what h2{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #418c59;
	margin-bottom: 10px;
}
.what p{
	font-family: "宋体";
	color: #767777;
	font-size: 12px;		
}
.when{
	width: 220px;
}
.when h2{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #d2994f;
	margin-bottom: 10px;
}
.when p{
	font-family: "宋体";
	color: #231815;
	font-size: 12px;
	opacity: 0.7;
}
.how h2{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #cc7680;
	margin-bottom: 10px;
}
.how p{
	font-family: "宋体";
	color: #231815;
	font-size: 12px;
	opacity: 0.7;
}
.www{
	margin-top: 40px;
}
.www span{
	color: #cd4a48;
	opacity: 0.7;
	font-style:italic; 
}
.threeL{
	width: 446px;
	float: left;
	margin-top: 30px;
}
.txt_1{
	font-style: "黑体";
	font-size: 72px;
	color:#f5e327;
	font-style: italic;
}
.txt_2{
	font-style: "黑体";
	font-size: 42px;
	color:#11456b;
	font-weight: bold;
}
.txt_3{
	font-size: 33px;
	font-family: "黑体";
	font-weight: bold;
	color:#11456b;
}
.underline{
	border: 2px solid #11456b;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 446px;
}
.threeL p{
	font-size: 16px;
	font-style: "宋体";
	color: #767777;
	line-height: 16px;
}
.txt_4:first-letter{
	float: left;
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	margin: 10px 10px 10px 0;
}
.photo{
	 height:280px;
	 width:180px;
	 float: right;
	 margin: 10px 10px 10px 10px;
}
.txt_5,.txt_6{
	text-indent: 2em;
}
.threeR{
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	position: relative;
}
.photoAnother{
	width: 420px;
	height: 275px;
	margin-top: 20px;	
	display: block;
}
.mask{
	width: 420px;
	height: 61px;
	position: absolute;
	top:234px;
	background-color: #000000;
	opacity: 0.2;
}
.maskTxt{
	position: absolute;
	top:241px;
	margin-left: 40px;
	border-left: 3px solid #72b16a;
	line-height: 44px;
	color: #ffffff;
	font-size: 26px;
	font-family: "微软雅黑";
	text-indent: 0.5em;
}
.maskTxt em{
	font-size: 12px;
	color: #72b16a;
	word-spacing: 140%;
}
.last{
	margin-top: 20px;
	background-color: #eeedd6;
	height: 357px;
}
.last p{
	margin:20px 10px;
}
.triangle{
	border-bottom: 10px solid #10456b;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    display: inline-block;
}
.title{
	font-size: 16px;
	color: #5a5b5b;
	font-family: "宋体";
	text-align: left;
	line-height: 35px;
}
.last em{
	font-family: "宋体";
	font-size: 12px;
	color: #5a5b5b;
	text-align: right;
}
.lastL{
	float: left;
	margin-top: 30px;
	width: 240px;
	height: 160px;
	background-color: #d45d5c;
}
.txtL{
	float: left;
	font-size: 110px;
	color: #ffffff;
	font-family: "微软雅黑";
	padding: 0 4px;
}
.txtR{
	margin-top: 32px;
	float: left;
	height: 86px;
	border-left: 2px solid #ffffff;
}
.remarks_1{
	font-style: italic;
	font-size: 21px;
	color: #ffffff;
	font-family: "黑体";
	padding-left: 5px;
}
.remarks_2{
	font-size: 12px;
	color: #ffffff;
	font-family: "黑体";
	padding-left: 10px;
}
.lastR{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	width: 168px;
	height: 160px;
	margin-bottom: 30px;
}
.quotation_1{
	float: left;
	height: 30px;
	width: 85px;
	font-size: 72px;
	color:#d45d5c;
	font-family: "黑体";
	margin-left: -40px;
}
.lastR p{
	font-size: 14px;
	color: #5a5b5b;
	font-family: "黑体";
}
.quotation_2{
	float: right;
	height: 30px;
	width: 85px;
	font-size: 72px;
	color:#d45d5c;
	margin-top: -40px;
	font-family: "黑体";
}
footer{
	clear: both;
	border-top:1px solid #938e8c;
	width: 892px;
	height: 40px;
}
footer div{
	float: right;
	font-size: 12px;
	font-family: "黑体";
	color: #d1245c;
}